@import "../../styles/variables.scss";


.tag{
    color: $white;
    background-color: $black;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px 0 10px 0;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}