@import "../../styles/variables.scss";

.personagem{
    width: 50%;
    margin-right: 38.8px;
    margin-bottom: 40px;
    position: relative;

    @media screen and (min-width: $md){
      width: 150px;
    }
}

.image{
  width: 100%;
  height: 193px;
  background-size: cover;
  border-bottom: 5px solid $red;
  background-image: url(../../public/images/marvel.png);
  background-position-x: center;
}

.nome{
    width: 100%;
    height: 100px;
    background-color: $black;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    padding: 20px;
}