@import "./variables.scss";

@font-face {
  font-family: Open Sans;
  src: url(../public/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(../public/fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Open Sans;
  src: url(../public/fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Oswald;
  src: url(../public/fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../public/fonts/Oswald/static/Oswald-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Oswald;
  src: url(../public/fonts/Oswald/static/Oswald-Medium.ttf);
  font-weight: 500;
}

html,
body {
  font-family: Open Sans;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 95%;
  margin-inline: auto;
  

  @media screen and (min-width: $md) {
    width: 80%;
    max-width: 760px;
  }

  @media screen and (min-width: $xl) {
    max-width: 1110px;
  }

}

.center-mobile{
  text-align: center;

  @media screen and (min-width: $md) {
   text-align: left;
  }
}





