@import "./variables.scss";

.banner {
  background-image: url(../public/images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 612px;
  position: relative;
}

.h1 {
  color: #fff;
  font-family: Oswald;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  position: absolute;
  bottom: -10vh;
  width: 200px;

  @media screen and (min-width: $md) {
    width: 400px;
    bottom: -4vh;
    font-size: 80px;
    line-height: 100px;
  }

  @media screen and (min-width: $xl) {
    width: 592px;
    bottom: -7vh;
    
    font-size: 100px;
    line-height: 135px;
  }
}

.section{
  padding: 150px 0;
  position: relative;
}


