@import "./variables.scss";

.banner {
  background-image: url(../public/images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 612px;
  position: relative;
}

.h1 {
  color: #fff;
  font-family: Oswald;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  position: absolute;
  bottom: -10vh;
  width: 200px;

  @media screen and (min-width: $md) {
    width: 400px;
    bottom: -4vh;
    font-size: 80px;
    line-height: 100px;
  }

  @media screen and (min-width: $xl) {
    width: 592px;
    bottom: -7vh;

    font-size: 100px;
    line-height: 135px;
  }
}

.section {
  padding: 150px 0;
  position: relative;

  &:nth-child(5){
   padding-top: 0;
  }
}

.sectionWhite {
  background-color: #fff;
}

.characterWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagesWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pages {
  color: #9b9b9b;
  margin-right: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.pageSelected {
  background: $red;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionMastercard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgMastercard {
  img {
    width: 100%;
  }
}

.link {
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}
